body {
  background-color: rgb(var(--tert-c)) !important;
}
nav {
  border-bottom: solid 2.5px rgb(var(--main-c));
}
main{
  margin-bottom: 10rem;
}

.sec-musics h2 {
  margin: 1em 1.25em;
  color: rgb(var(--sec-c));
}

.musics,
.albums {
  margin: 0.5em 1em;
  display: flex;
  gap: 1em;
  overflow-x: scroll;
}
.musics::-webkit-scrollbar, .albums::-webkit-scrollbar {
  display: none;
}
.musics .four-musics {
  padding: 10px 20px;
  display: grid;
  gap: 1em;
  width: 22.5em;
  margin: 0 1em;
}
.music {
  padding: 1px 5px;
  width: 25em;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
}
.music:hover {
  background-color: rgba(var(--sec-c), 0.05);
}
.music .image > img {
  width: 45px;
  height: 45px;
}
.music .informs {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1px;
}
.music .informs .title-music {
  color: rgb(var(--main-c));
  font-weight: 600;
  font-size: 10pt;
}
.music .informs .album-music,
.album .desc_album .autor {
  color: rgb(213, 217, 219);
  font-size: 9.5pt;
}

.albums{
  margin: 1em 2.5em;
}
.album {
  display: grid;
  gap: 5px;
}
.album img {
  border-radius: 5px;
  width: 10em;
  height: auto;
}
.album .desc_album {
  font-size: 9pt;
  padding: 2.5px;
  display: grid;
  width: 100%;
  color: rgb(var(--sec-c));
}

.last_music{
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  height: 1em !important;
}