body {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/pexels-andrea-piacquadio-3764025.jpg");
  background-repeat: no-repeat;
  background-position: right 40% center;
  background-size: cover;
}

/* div que traz efeito de sombra na imagem */
.C-shadow,
.C-shadow-2 {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(var(--tert-c)),
    rgba(var(--tert-c), 0.95) 25%,
    rgba(var(--tert-c), 0.75) 60%,
    transparent 100%
  );
  z-index: -1;
}
.C-shadow-2 {
  width: 100vw;
}


/* main e seus atributos */
main {
  display: flex;
  gap: 2.5em;
  padding: 1.5rem 5rem;
}

.info:first-child::before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 25vh;
  translate: 0 -25vh;
  background-color: white;
}
.info:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  translate: 0 30vh;
  gap: 1rem;
  font-size: 14pt;
}
.info:first-child::after {
  content: "";
  position: absolute;
  top: 20vh;
  width: 1.5px;
  height: 25vh;
  background-color: white;
}

.info:last-child {
  position: absolute;
  margin-left: 4rem;
  margin-top: 18vh;
  color: white;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}
.info:last-child button {
  border: 2px solid rgb(var(--main-c));
  background-color: transparent;
  padding: 5px 15px;
  color: rgb(var(--main-c));
  transition: 0.25s;
}
.info:last-child button:hover {
  color: rgb(var(--sec-c));
  transition: 0.25s;
  /* background-color: transparent; */
}
.info:last-child p {
  width: 45vw;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10px;
  padding: 1rem;
  text-align: center;
  font-size: 7pt;
  color: white;
}

/* classes de ações diversas */
.preencher {
  width: 100vw !important;
  background: rgb(var(--tert-c));
  transition: 0.75s;
}
.desaparecer {
  opacity: 0;
  visibility: hidden;
  transition: 0.75s;
}

/* animações */
@keyframes preencher {
  0% {
    background: linear-gradient(
      to right,
      rgb(var(--tert-c)) 25%,
      transparent 100%
    );
  }
  100% {
    background: linear-gradient(
      to right,
      rgb(var(--tert-c)) 100%,
      transparent 100%
    );
  }
}
