@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --main-c: 214, 105, 57;
  --sec-c: 247, 255, 243;
  --tert-c: 6, 5, 36;
}
#color {
  color: rgb(214, 105, 57);
  color: rgb(247, 255, 243);
  color: rgb(6, 5, 36);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}