body {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/pexels-andrea-piacquadio-3764025.jpg");
  background-repeat: no-repeat;
  background-position: right 40% center;
  background-size: cover;
  overflow: hidden;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  color: white;
}

nav h1 {
  font-size: medium;
}
nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
  font-size: medium;
}
nav ul li {
  padding: 2px 5px;
  cursor: pointer;
}
nav ul li:hover {
  background-color: rgba(240, 248, 255, 0.062);
}
nav ul li a {
  text-decoration: none;
  color: rgb(var(--main-c));
  font-weight: bold;
  text-shadow: 0.25px 0.25px rgba(var(--sec-c), 0.25);
}

.C-shadow {
  content: " l ";
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(var(--tert-c)) 25%,
    transparent 100%
  );
  z-index: -1;
}

main {
  display: flex;
  gap: 2.5em;
  padding: 1.5rem 5rem;
}

.inf:first-child::before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 25vh;
  translate: 0 -25vh;
  background-color: white;
}
.inf:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  translate: 0 30vh;
  gap: 1rem;
  font-size: 14pt;
}
.inf:first-child::after {
  content: "";
  position: absolute;
  top: 20vh;
  width: 1.5px;
  height: 25vh;
  background-color: white;
}

.inf:last-child {
  position: absolute;
  margin-left: 4rem;
  margin-top: 18vh;
  color: white;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}
.inf:last-child button {
  border: 2px solid rgb(var(--main-c));
  background-color: transparent;
  padding: 5px 15px;
  color: rgb(var(--main-c));
  transition: 0.25s;
}
.inf:last-child button:hover {
  color: rgb(var(--sec-c));
  transition: 0.25s;
  /* background-color: transparent; */
}
.inf:last-child p {
  width: 45vw;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10px;
  padding: 1rem;
  text-align: center;
  font-size: 7pt;
  color: white;
}

.fundo-dark {
  background: rgb(var(--tert-c)) !important;
}

.preencher {
  width: 100vw !important;
  background: rgb(var(--tert-c));
  transition: 0.5s;
}

.desaparecer {
  animation: des 1s 0.2s ease-in-out;
  opacity: 0;
  transition: 1s;
}

@keyframes des {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes preencher {
  0% {
    width: 80vw;
    background: linear-gradient(
      to right,
      rgb(var(--tert-c)) 25%,
      transparent 100%
    );
  }
  100% {
    width: 100vw;
    background: linear-gradient(
      to right,
      rgb(var(--tert-c)) 100%,
      transparent 100%
    );
  }
  /* 30% {
    background: linear-gradient(
      to right,
      rgb(var(--tert-c)) 35%,
      transparent 100%
    );
  }
  50% {
    background: linear-gradient(
      to right,
      rgb(var(--tert-c)) 35%,
      transparent 100%
    );
  }
  100% {
    background: linear-gradient(
      to right,
      rgb(var(--tert-c)) 100%,
      transparent 100%
    );
  } */
}
